<!-- <div *ngIf="course.length>0">
  list of course
</div> 
<div *ngIf="course.length==0">
   no  list course
 </div>  -->
 <!-- <ng-template #noCourse>
    no  list course
 </ng-template>
 <ng-template #Course>
     list course
 </ng-template> -->

<!-- <div [hidden]="course.length>0">
  list of courses
</div>
<div [hidden]="course.length==0">
  no list of courses
</div>  -->


<div>
  *ngSwitchCase
</div>

<ul class="nav nav-pills">
  <li [class.active]="viewMode=='map'" style="color:red"><a (click)="viewMode='map'">map</a></li>
  <br>
  <br>
  <li [class.active]="viewMode=='list'" style="color:blue"> <a (click)="viewMode='list'">list</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase ="'map'">
     MAP VIEW
  </div>
  <div *ngSwitchCase ="'list'">
      List VIEW
  </div >
  <div *ngSwitchDefault>
      OTHERWISE
  </div>

  
</div>






