<!-- <div *ngIf="course.length>0">
  list of course
</div> 
<div *ngIf="course.length==0">
   no  list course
 </div>  -->
 <!-- <ng-template #noCourse>
    no  list course
 </ng-template>
 <ng-template #Course>
     list course
 </ng-template> -->

<!-- <div [hidden]="course.length>0">
  list of courses
</div>
<div [hidden]="course.length==0">
  no list of courses
</div>  -->

<!-- ///////////////////////////////////////////////// -->
<!-- <div>
  <h5>*ngSwitchCase</h5>
</div>

<ul class="nav nav-pills">
  <li [class.active]="viewMode=='map'" style="color:red"><a (click)="viewMode='map'">map</a></li>
  <br>
  <br>
  <li [class.active]="viewMode=='list'" style="color:blue"> <a (click)="viewMode='list'">list</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase ="'map'">
     MAP VIEW
  </div>
  <div *ngSwitchCase ="'list'">
      List VIEW
  </div >
  <div *ngSwitchDefault>
      OTHERWISE
  </div>

  
</div> -->
<!-- ////////////////////////////////////////////////////////////////// -->


<div>
  <h5>*ngStyle strutural directive</h5>
</div>

<!-- <button [style.backgroundColor]="canSave ? 'red':'blue'"
[style.color]="canSave ? 'blue':'white'"
[style.fontWeight]="canSave ? 'bold':'normal'"
>
  save
</button> -->
<button [ngStyle]="{'background-color': canSave ? 'red':'blue',
                 'color': canSave ? 'blue':'white',
                 'font-weight': canSave ? 'bold':'normal'}"

> save</button>


<!-- //////////////////////////////////////////////// -->

<div>
  <h5>*ngClass strutural directive</h5>
</div>

<div  [ngClass]="{'text-center':isWell}">
      Angular Class
</div>
<input type ="button" value="Toggle" (click)="isWell=!isWell">



<!-- ///////////////////////////////////////////////// -->
<!-- <div>
  <h5>*ngFor strutural directive</h5>
</div> -->
<!-- <ul>
  <li *ngFor ="let course of courses;even as isEven">
   {{i}}- {{course.name}}<span *ngIf ="isEven"> even</span>
  </li>
</ul> -->
<!-- 
<button (click)="onAdd()">ADD</button>
<ul>
  <li *ngFor ="let course of courses">
  {{course.name}}
  <button (click)="onRemove(course)">Remove</button>
   <button (click)="onUpdate(course)">Update</button> 
  </li>
</ul> -->












