<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Databinding</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h5>Interpolation Databinding</h5>
    <div>
      component name = {{componentName}};
    </div>

    <div>
   Result = {{onePlus()}}
    </div>
    
   Condition = {{onePlus() < 1 ? "ok" : "good"}};
    </div>
  ..................................................................
</div>
<div class="row" >
  <div class="col-md-12">
    <h5>Property Binding</h5>
  </div>
</div>
<div [style.border] ="border">
  <input  [type]="ipType" value="ok"  >
</div>
<div>
<app-ip-type  [add]= "'I am in Mumbai'" ></app-ip-type>
</div>
..........................................................
<div class="row" >
  <div class="col-md-12">
    <h5>Event Binding</h5>
  </div>
</div>
<div>
  <input type ="button" value="ok" (click)="changeBorder()" >
</div>
<div>
  <input type ="button" value="ok" [style.width]="dyWidth" (mouseenter)="dyWidth='400px'"  (mouseleave)="dyWidth='200px'">
</div>
.........................................................................
<div class="row" >
  <div class="col-md-12">
    <h5>InterComponent Communication</h5>
  </div>
</div>
<div>
  <app-creater (formEv)="control=$event" ></app-creater>
</div>   
<div>
  <app-receiver [ipCntrl]="control" ></app-receiver>
</div>
...............................................................................
<div class="row" >
  <div class="col-md-12">
    <h5>Two way databinding</h5>
  </div>
</div>
<div>
  <input type ="text" [(ngModel)]="user.userName" >{{user.userName}}
</div>
<div>
  <input type ="text"  [(ngModel)]="user.password">{{user.password}}
</div>
<div>
  <input type ="button"  (click)="print()" value="print" class="btn btn-primary">
</div>

</div>
