<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="form_main">
        <h4 class="heading"><strong>Data Driven Form</strong></h4>
        <div class="form">
           <form  [formGroup] ="myForm"  (ngSubmit)="onSubmit()"> 
            <input 
              type="text" 
              placeholder="User Name" 
              class="txt"
              formControlName="usNm"
           
              >
            <input 
              type="text" 
              placeholder="Email" 
              class="txt"
              formControlName="email"
             
             >
            <input 
              type="text" 
              placeholder="Password" 
              class="txt"
              formControlName="pass"
           >
            <p class="help-block" *ngIf="!myForm.controls.pass.valid">enter min 8 nos.</p>

            <input 
              type="Submit" 
              value="Submit" 
              class="btn btn-info"
              name="submit"
              [disabled]="!myForm.valid"
              
              >
          </form>
        </div>
      </div>
    </div> 
  </div>





















  <!-- pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" -->
