
<div class="container">
      <div class="row">
            <div class="col-lg-12">
                  <!-- <app-databinding></app-databinding>  -->
                  <!-- <app-view-content-child></app-view-content-child> -->
                  <!-- <app-directives></app-directives> -->
                  <!-- <router-outlet></router-outlet> -->
                  <!-- <app-templatedriven></app-templatedriven>-->
                  <app-datadriven></app-datadriven>
                  
            </div>
      </div>
</div>
