<!-- <p>
  first works!
</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h3>Router</h3>
        </div>
      </div>
  <div class="row">
    <div class="col-md-12">
      <input type="text" #usNm ><input type="password" #pass><input type="button" class="btn btn-success" value="Login"(click)="login(usNm.value,pass.value)">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['forgot','pooja']" >Forgot password</a>
    </div>
  </div>
</div>
